[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
'uvicorn[standard]' = "==0.23.2"
fastapi = "==0.104.0"
pydantic = "==2.4.2"
'sqlalchemy[asyncio]' = "==2.0.22"
psycopg2-binary = "*"
alembic = "==1.12.1"
python-dotenv = "==1.0.0"
python-multipart = "==0.0.6"
